@charset"utf-8";
body{
	padding:0;
	margin:0;
	background: #dedede;

}
h1,h2,h4,h5{
	padding:0;
	margin:0;
}

/*头部*/
header{
	width: 99.88%;
	height: 60px;
	background: #333333;
	margin-bottom: 20px;
	clear: both;
}
header h1{
	width: 224px;
	height: 60px;
	background: url(images/logo.jpg) no-repeat 50% 46%;
	text-indent: -9999px;
	float: left;
}
header ul{
	float: right;
	margin-top: 20px;
	padding-right: 20px;
}
header ul li{
	float: left;
	font-size: 12px;
	
}
header ul li a{
	display: block;
	text-decoration: none;
	color: #fff;
	width: 80px;
}
header ul li a:hover{
	color:#ACACAC;
}
/*文章块*/
article{
	background: #fff;
	width: 93%;
	margin:0 auto;
	margin-bottom: 40px;
	padding: 22px;
	border:1px solid #cbcbcb;
	box-shadow: 2px 2px 0px #848484;
	-webkit-box-shadow: 2px 2px 0px #848484;
	-moz-box-shadow: 2px 2px 0px #848484;
	clear: both;

}
article h4,h5{
	color:#676B6E;
}
article h5{
	margin-top: 6px;
	font-weight: normal;
}
article p{
	font-size: 14px;
	text-indent: 2em;
}
/*图片*/
article figure{
	width: 120px;
	height: 126px;
	border: 1px solid #CDCDCD;
}
article figure img{
	border:0;
	display: block;
	width: 100px;
	height: 80px;
	margin:0px auto;
}
article figcaption{
	text-align: center;
	line-height: 30px;
}
/*表格*/
article table{
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	text-align: left;
}
article table,table th,table td{
	border:1px solid #ccc;
	line-height: 26px;
	padding-left: 4px;

}
article table th{
	background: #333;
	color: #fff;
}
article table tfoot{
	background: #ccc;
	font-weight: bold;
}
/*表单*/
article aside {
	margin-bottom: 0px;
}
article aside  h4{
	color:#000;

}
article aside  form{
	width: 1174px;
	font-size: 12px;
}
article aside form fieldset{
	width: 1174px;
	margin-left: 200px;
	border: 0;
}
article aside form p{
	
}
article aside form p span{
	display: inline-block;
	width: 130px;
	text-align: right;	
	margin-right: 8px;
	vertical-align: top;
}
article aside form p small{
	color: #666;
	display: block;
	font-size: 12px;
	line-height: 34px;
	margin-left: 155px;

}
article aside form textarea{
	width: 765px;
}
article aside form button{
	background: #3355D0;
	color: #fff;
	font-weight: bold;
	width: 100%;
	border: 0;
	height: 38px;
	border-radius: 4px;
	cursor:pointer;
}
/*页面底部版权*/
footer{
	background: #000;
	width: 99.88%;
	height: 44px;
	margin-top: 20px;
	text-align: center;
	padding-top: 16px;
	color: #fff;
	font-size: 12px;
	line-height: 24px;
}